<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .my-form {
            bottom: 24px;
            right: 80px;
            left: 80px;
            width: calc(100% - 160px);
        }

    </style>
    <script>
    // Declare serverList as a global variable accessible in the entire script
    let serverList;
    setInterval(getallservers, 2000);
    // Get the list of available servers
    function getallservers() {
        fetch('/all_servers_available')
            .then(response => {
                if (response.status === 503) {
                    console.error('Service Unavailable');
                    checkServers();
                } else {
                    return response.json();
                }
            })
            .then(servers => {
                if (servers) {
                    serverList = servers;
                }
            })
            .catch(error => {
                    console.error('Error:', error);
                    checkServers();
                });
    }

    // Function to check each server until an available one is found
    function checkServers() {
        // Check if serverList is undefined or empty
        if (!serverList || serverList.length === 0) {
            console.error('Server list is empty or undefined');
            return;
        }

        let availableServerFound = false;

        for (let server of serverList) {
            console.log(server.ip);
            fetch(`http://${server.ip}:5000/get_new_leader_info`)
                .then(response => {
                    if (response.ok) {
                        availableServerFound = true;
                        return response.text();
                    } else {
                        throw new Error('Server not available');
                    }
                })
                .then(newLeader => {
                    if (availableServerFound) {
                        // Redirect to the new leader only if an available server is found
                        window.location.href = `http://${newLeader}:5000`;
                    }
                })
                .catch(error => {
                    console.error(`Error with server ${server.ip}:`, error);
                    // If the server is not available, move to the next one
                });

            if (availableServerFound) {
                // Stop checking if an available server is found
                break;
            }
        }
    }
    </script>

</head>
<body>
<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Twitter Light</a>
    </div>
</nav>

<div class="container mb-5" style="padding-top: 80px;">
    {% for post in posts %}
        <div class="d-flex justify-content-center mt-5">
            <div class="card" style="width: 60%">
                <div class="card-body">
                    <div class="card mb-2" style="width: 50%">
                        <div class="card-body">
                            {{ post.post_content }}
                        </div>
                    </div>
                    <hr>
                    {% for comment in post.post_comments %}
                        <div class="card mb-2" style="width: 50%">
                            <div class="card-body">
                                {{ comment.comment_content }}
                            </div>
                        </div>
                    {% endfor %}
                    <form class="input-group mb-1 mt-3" action="/comments/{{ post.post_id }}" method="POST">
                         <!--Alternativtext bearbeiten  aria-label="Recipient's username" -->
                        <input type="text" class="form-control" placeholder="Verfasse einen Kommentar"
                               aria-label="Recipient's username"
                               aria-describedby="button-addon2" name="comment_content" id="comment_content">

                        <input type="hidden" name="_method" value="PATCH">
                        <button class="btn btn-outline-secondary" type="submit">Comment
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<form class="input-group mb-3 mt-3 my-form " action="/posts" method="POST" style="padding-top: 24px; bottom: 0;">
    <!--Alternativtext bearbeiten  aria-label="Recipient's username" -->
    <input type="text" class="form-control" placeholder="Verfasse deinen light tweet"
           aria-label="Recipient's username"
           aria-describedby="button-addon2" name="content">
    <button class="btn btn-outline-secondary" type="submit">Posten</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>